{% extends './layout.html' %}
{% block title %}{{article.title}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}
{% block content %}
<div class="panel panel-default detail-panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title" id="detailH">深入了解 Bootstrap 底层结构的关键部分</h3>
        <p class="sub-title text-muted">
            <span>{{article.category.name}}</span>
            <span>{{article.createdTime}}</span>
            <span class="view-num">{{article.click}}</span>
            <span>人已阅读</span>
        </p>
    </div>
    <div class="panel-body">
        <div class="well well-lg">
           <span>简介:</span>  
           {{article.intro}}
        </div>
        <p>{{article.content | safe }}</p>
    </div>
</div>
{% endblock %}