{% extends './layout.html' %}
{% block title %}{{article.title}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}
{% block content %}
<div class="panel panel-default detail-panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title" id="detailH">深入了解 Bootstrap 底层结构的关键部分</h3>
        <p class="sub-title text-muted">
            <span>{{article.category.name}}</span>
            <span>{{article.createdTime}}</span>
            <span class="view-num">{{article.click}}</span>
            <span>人已阅读</span>
        </p>
    </div>
    <div class="panel-body">
        <div class="well well-lg">
           <span>简介:</span>  
           {{article.intro}}
        </div>
        <p>{{article.content | safe }}</p>
    </div>
</div>
<div class="row">
    {% if userInfo._id %}
    <div class="col-md-10">
        <textarea id="inputComment" cols="85" rows="2"></textarea>
    </div>
       
    <div class="col-md-2">
        <button id="sub-btn-comment" class="btn btn-primary">提交</button>   
    </div>
    {% else %}
    <div class="col-md-10">
        <p>请登陆后再提交</p>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel-body comment-item" >
            <p>年后的是否会的时间跨度哈哈空间范德萨发大水范德萨发达发达反对大概豆腐干梵蒂冈反对呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱的</p>
            <p>
                <span class="footer-text ">admin</span>
                <span>发布于</span>
                <span class="footer-text">2020/11/06</span>
            </p>
        </div>
        <div class="panel-body comment-item" >
            <p>年后的是否会的时间跨度哈哈空间范德萨发大水范德萨发达发达反对大概豆腐干梵蒂冈反对呱呱呱呱呱呱呱呱呱呱呱呱呱呱呱的</p>
            <p>
                <span class="footer-text ">admin</span>
                <span>发布于</span>
                <span class="footer-text">2020/11/06</span>
            </p>
        </div>
        {% include './pagination.html' %}
    </div>   
</div>
{% endblock %}