.main .detail-panel .panel-heading h3{
    font-size: 30px;
}
.detail-panel{
    min-height: 700px;
}
.detail-panel .panel-title{
    margin-bottom: 10px;
}
.detail-panel  .sub-title span{
    margin-right: 10px;
}
.detail-panel  .sub-title .view-num{
    margin-right: 0;
    font-style: italic;
}
#sub-btn-commont{
    line-height: 29px;
    width: 100%;
    font-size: 23px;
    margin-top: 2px;
}
