.main .detail-panel .panel-heading h3{
    font-size: 30px;
}
.detail-panel{
    min-height: 700px;
}
.detail-panel .panel-title{
    margin-bottom: 10px;
}
.detail-panel  .sub-title span{
    margin-right: 10px;
}
.detail-panel  .sub-title .view-num{
    margin-right: 0;
    font-style: italic;
}
#btn-sub-comment{
    line-height: 30px;
    width: 100%;
    font-size: 23px;
    margin-top: 16px;
}
.comment-item {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}
#comment-wrap{
    margin-top: 50px;
}